### Team Taal

1. 
  a. Unregistered users with the most number of edits
2. 
  a. Artists with the most unregistered users
  b. Artists with the most registered users
3.
  a. Number of careers that an unregistered user edits
  b. Number of careers that a registered user edits

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

In [2]:
fn = "../input/wikipedia_edits.csv.zip"
df = pd.read_csv(fn)

In [3]:
df_anon_users = df[df['userid']==0] #for anonumous users, userid=0
df_anon_users

,title,parentid,revid,timestamp,user,userid,size,recipient,year,rank,country,career,tied
2643,50_Cent,219167675,219176128,2008-06-13T22:43:27Z,209.161.4.106,0.0,48386,50 Cent,2006,8,United States,Musician,0
2645,50_Cent,219161723,219167119,2008-06-13T21:46:42Z,65.78.203.162,0.0,49406,50 Cent,2006,8,United States,Musician,0
2649,50_Cent,219119959,219120271,2008-06-13T17:44:54Z,70.109.117.173,0.0,613,50 Cent,2006,8,United States,Musician,0
2650,50_Cent,219112543,219119959,2008-06-13T17:43:22Z,70.109.117.173,0.0,49436,50 Cent,2006,8,United States,Musician,0
2652,50_Cent,219111996,219112512,2008-06-13T17:00:52Z,75.3.141.196,0.0,49427,50 Cent,2006,8,United States,Musician,0
2653,50_Cent,219080470,219111996,2008-06-13T16:58:04Z,75.3.141.196,0.0,49413,50 Cent,2006,8,United States,Musician,0
2656,50_Cent,219056359,219064372,2008-06-13T12:03:47Z,82.34.35.203,0.0,48982,50 Cent,2006,8,United States,Musician,0
2660,50_Cent,219034225,219034300,2008-06-13T07:46:12Z,61.68.144.29,0.0,46921,50 Cent,2006,8,United States,Musician,0
2662,50_Cent,219034050,219034151,2008-06-13T07:44:54Z,61.68.144.29,0.0,46926,50 Cent,2006,8,United States,Musician,0
2664,50_Cent,219025589,219033927,2008-06-13T07:42:45Z,61.68.144.29,0.0,46922,50 Cent,2006,8,United States,Musician,0
2665,50_Cent,219024218,219025589,2008-06-13T06:27:23Z,70.108.94.166,0.0,46907,50 Cent,2006,8,United States,Musician,0
2666,50_Cent,219023985,219024218,2008-06-13T06:15:32Z,65.24.88.74,0.0,47200,50 Cent,2006,8,United States,Musician,0
2667,50_Cent,218993465,219023985,2008-06-13T06:13:24Z,76.212.180.43,0.0,47184,50 Cent,2006,8,United States,Musician,0
2673,50_Cent,218941664,218945694,2008-06-12T21:47:46Z,12.104.153.15,0.0,35504,50 Cent,2006,8,United States,Musician,0
2680,50_Cent,218924220,218924489,2008-06-12T20:00:51Z,66.146.151.238,0.0,49102,50 Cent,2006,8,United States,Musician,0
2681,50_Cent,218910363,218924220,2008-06-12T19:59:34Z,66.146.151.238,0.0,49107,50 Cent,2006,8,United States,Musician,0
2682,50_Cent,218898767,218910363,2008-06-12T18:47:37Z,81.20.190.196,0.0,49102,50 Cent,2006,8,United States,Musician,0
2683,50_Cent,218895640,218898767,2008-06-12T17:49:09Z,84.1.48.47,0.0,50209,50 Cent,2006,8,United States,Musician,0
2686,50_Cent,218861433,218864746,2008-06-12T14:34:41Z,204.185.69.253,0.0,50204,50 Cent,2006,8,United States,Musician,0
2687,50_Cent,218861096,218861433,2008-06-12T14:14:03Z,83.23.66.217,0.0,50197,50 Cent,2006,8,United States,Musician,0
2689,50_Cent,218857190,218861081,2008-06-12T14:11:43Z,83.23.66.217,0.0,50292,50 Cent,2006,8,United States,Musician,0
2690,50_Cent,218784791,218857190,2008-06-12T13:47:28Z,67.167.234.253,0.0,50219,50 Cent,2006,8,United States,Musician,0
2691,50_Cent,218784673,218784791,2008-06-12T04:07:24Z,24.250.77.180,0.0,49966,50 Cent,2006,8,United States,Musician,0
2692,50_Cent,218784570,218784673,2008-06-12T04:06:32Z,24.250.77.180,0.0,49996,50 Cent,2006,8,United States,Musician,0
2693,50_Cent,218782012,218784570,2008-06-12T04:05:40Z,24.250.77.180,0.0,49966,50 Cent,2006,8,United States,Musician,0
2697,50_Cent,218778364,218779727,2008-06-12T03:29:41Z,68.123.234.61,0.0,50022,50 Cent,2006,8,United States,Musician,0
2699,50_Cent,218747903,218778352,2008-06-12T03:19:39Z,72.194.85.150,0.0,0,50 Cent,2006,8,United States,Musician,0
2700,50_Cent,218747738,218747903,2008-06-12T00:10:04Z,69.140.51.129,0.0,49945,50 Cent,2006,8,United States,Musician,0
2701,50_Cent,218747399,218747738,2008-06-12T00:08:57Z,69.140.51.129,0.0,49945,50 Cent,2006,8,United States,Musician,0
2702,50_Cent,218747165,218747399,2008-06-12T00:06:49Z,69.140.51.129,0.0,49944,50 Cent,2006,8,United States,Musician,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
789271,U2,3421709,3423615,2004-05-02T20:18:19Z,130.126.185.10,0.0,15014,U2,2011,4,Republic of Ireland,Musicians,0
789273,U2,3174400,3175282,2004-04-13T16:45:33Z,24.217.211.99,0.0,14768,U2,2011,4,Republic of Ireland,Musicians,0
789274,U2,3170322,3174400,2004-04-13T07:10:03Z,24.217.211.99,0.0,14123,U2,2011,4,Republic of Ireland,Musicians,0
789275,U2,3169179,3170322,2004-04-13T04:24:58Z,24.217.211.99,0.0,14129,U2,2011,4,Republic of Ireland,Musicians,0
789278,U2,3076752,3081932,2004-04-06T01:51:36Z,195.137.85.173,0.0,13598,U2,2011,4,Republic of Ireland,Musicians,0
789279,U2,3076627,3076752,2004-04-06T01:43:38Z,195.137.85.173,0.0,13370,U2,2011,4,Republic of Ireland,Musicians,0
789282,U2,2930361,3059947,2004-03-26T20:05:36Z,62.49.5.21,0.0,12592,U2,2011,4,Republic of Ireland,Musicians,0
789283,U2,2930352,2930361,2004-03-26T20:05:04Z,66.54.251.2,0.0,12661,U2,2011,4,Republic of Ireland,Musicians,0
789291,U2,2616363,2694452,2004-03-03T20:54:00Z,62.224.33.14,0.0,12111,U2,2011,4,Republic of Ireland,Musicians,0
789292,U2,2579379,2616363,2004-03-01T03:10:32Z,68.43.241.132,0.0,11768,U2,2011,4,Republic of Ireland,Musicians,0
789298,U2,2250807,2446636,2004-01-28T19:52:16Z,128.2.134.111,0.0,11696,U2,2011,4,Republic of Ireland,Musicians,0
789301,U2,2008603,2151835,2003-12-20T20:04:42Z,216.68.15.235,0.0,11627,U2,2011,4,Republic of Ireland,Musicians,0
789302,U2,2008584,2008603,2003-12-20T20:02:26Z,216.68.15.235,0.0,11624,U2,2011,4,Republic of Ireland,Musicians,0
789303,U2,1868571,2008584,2003-12-04T02:44:40Z,216.68.39.151,0.0,11623,U2,2011,4,Republic of Ireland,Musicians,0
789304,U2,1782021,1868571,2003-11-21T04:54:48Z,4.63.151.116,0.0,11613,U2,2011,4,Republic of Ireland,Musicians,0
789305,U2,1708432,1782021,2003-11-10T22:24:59Z,62.178.201.41,0.0,11613,U2,2011,4,Republic of Ireland,Musicians,0
789312,U2,1541010,1544242,2003-10-09T02:06:22Z,67.123.172.223,0.0,10931,U2,2011,4,Republic of Ireland,Musicians,0
789315,U2,1029121,1171331,2003-06-12T23:53:58Z,66.185.84.80,0.0,10877,U2,2011,4,Republic of Ireland,Musicians,0
789316,U2,961579,1029121,2003-05-25T19:09:40Z,194.109.220.178,0.0,10868,U2,2011,4,Republic of Ireland,Musicians,0
789317,U2,961549,961579,2003-05-25T19:05:51Z,194.109.220.178,0.0,10865,U2,2011,4,Republic of Ireland,Musicians,0
789320,U2,781898,784815,2003-03-28T05:07:46Z,144.92.164.197,0.0,10833,U2,2011,4,Republic of Ireland,Musicians,0
789324,U2,634691,713145,2003-02-01T03:02:07Z,67.122.115.150,0.0,10629,U2,2011,4,Republic of Ireland,Musicians,0
789326,U2,570794,580450,2003-01-08T07:42:10Z,216.229.90.232,0.0,10583,U2,2011,4,Republic of Ireland,Musicians,0
789330,U2,566135,566136,2003-01-06T22:04:10Z,216.229.90.232,0.0,10526,U2,2011,4,Republic of Ireland,Musicians,0
789332,U2,490087,565582,2002-12-13T17:57:38Z,213.224.83.150,0.0,863,U2,2011,4,Republic of Ireland,Musicians,0
789336,U2,336756,347214,2002-10-05T04:55:22Z,216.229.90.232,0.0,843,U2,2011,4,Republic of Ireland,Musicians,0
789338,U2,383222001,74600,2002-02-25T15:43:11Z,Conversion script,0.0,406,U2,2011,4,Republic of Ireland,Musicians,0
789339,U2,383221849,383222001,2001-12-19T22:47:40Z,144.132.75.xxx,0.0,402,U2,2011,4,Republic of Ireland,Musicians,0
789340,U2,292008,292009,2001-12-12T08:28:48Z,202.161.127.xxx,0.0,654,U2,2011,4,Republic of Ireland,Musicians,0
789341,U2,292007,292008,2001-12-03T17:45:09Z,193.133.134.xxx,0.0,409,U2,2011,4,Republic of Ireland,Musicians,0

In [4]:
# Show the number of maximum edits of anonymous users

df_anon_users['user'].value_counts()

70.25.131.237      277
212.241.67.98      232
81.208.36.91       224
69.237.115.101     188
200.138.194.254    183
68.197.107.71      159
66.67.122.184      152
88.247.80.138      147
67.174.249.62      143
156.34.142.110     142
125.60.241.217     122
68.82.82.248       115
216.138.194.68     113
71.104.148.208     108
68.49.12.253       108
128.151.71.19      105
76.97.182.80       104
91.214.39.90       102
202.156.6.54        97
195.93.21.72        97
220.59.122.178      93
24.225.185.124      90
98.111.185.213      87
72.1.195.4          81
76.227.57.169       81
68.46.186.126       76
76.21.120.70        75
128.6.78.50         75
69.108.234.247      75
69.215.21.157       74
                  ...
70.26.149.220        1
75.11.12.239         1
209.43.35.240        1
201.66.132.197       1
24.12.126.115        1
99.12.241.50         1
99.229.118.225       1
76.68.38.89          1
67.175.55.115        1
213.198.231.58       1
70.253.59.116        1
24.19.35.187         1
216.149.191.130      1
67.70.154.249        1
173.217.89.31        1
74.226.14.38         1
24.89.179.51         1
4.91.135.45          1
210.49.183.111       1
217.44.163.231       1
24.130.18.35         1
68.218.166.123       1
68.98.133.164        1
68.222.29.185        1
71.68.223.143        1
71.162.18.212        1
62.8.118.241         1
216.9.250.61         1
203.214.17.107       1
98.195.100.133       1
Name: user, Length: 134688, dtype: int64

In [13]:
# 2: Artists with the most registered users
artists_reg_users = df[df['userid']!=0] 
artists_reg_users
artists_reg_users['title'].value_counts()

Britney_Spears           18986
The_Beatles              17788
Roger_Federer            14893
Cristiano_Ronaldo        14755
Beyonce                  14677
Paul_McCartney           14225
Eminem                   14191
Madonna_(entertainer)    13391
Lady_Gaga                13180
Mariah_Carey             13076
Rihanna                  12910
Lionel_Messi             12719
LeBron_James             10546
Taylor_Swift             10190
50_Cent                   9972
Dwayne_Johnson            9830
U2                        8984
Kobe_Bryant               8801
Jennifer_Lopez            8672
Katy_Perry                8590
Cher                      8540
Justin_Bieber             8512
Michael_Jordan            8318
David_Beckham             8187
The_Rolling_Stones        7575
Coldplay                  7005
Tiger_Woods               6932
Spice_Girls               6860
Drake_(musician)          6511
Rush_Limbaugh             6481
                         ...
Howard_Stern              4842
Tom_Hanks                 4821
George_Clooney            4684
Kim_Kardashian            4678
Leonardo_DiCaprio         4630
The_Sopranos              4613
Dr._Dre                   4594
Bon_Jovi                  4499
The_Weeknd                4127
Bruce_Willis              3815
James_Cameron             3311
Harrison_Ford             3214
Robert_Downey_Jr.         3196
Simon_Cowell              3182
Sandra_Bullock            3135
Jerry_Seinfeld            3100
George_Lucas              3062
NSYNC                     3012
Ellen_DeGeneres           2919
Julia_Roberts             2763
Ed_Sheeran                2623
The_Police                2385
Kylie_Jenner              2218
Garth_Brooks              2172
Kevin_Hart                1917
Dan_Brown                 1852
Phil_McGraw               1726
Judy_Sheindlin            1690
Paula_Deen                1464
James_Patterson           1279
Name: title, Length: 82, dtype: int64

In [6]:
# Most number of unregistered users/editors per title
df_anon_users['title'].value_counts()

Roger_Federer            9748
The_Rolling_Stones       6388
Spice_Girls              6354
Dwayne_Johnson           6267
Beyonce                  6134
Eminem                   5708
Britney_Spears           5654
The_Beatles              5554
Mariah_Carey             5495
U2                       5376
Sean_Combs               4726
Jennifer_Lopez           4474
Coldplay                 4393
Backstreet_Boys          4348
Madonna_(entertainer)    4290
Cher                     4203
LeBron_James             4096
Paul_McCartney           3756
Kobe_Bryant              3752
Howard_Stern             3729
Michael_Jordan           3722
Bruce_Springsteen        3719
Bon_Jovi                 3664
Steven_Spielberg         3567
Lionel_Messi             3553
Johnny_Depp              3535
Shaquille_O'Neal         3507
The_Weeknd               3305
Bruce_Willis             3299
Manny_Pacquiao           3264
                         ...
Julia_Roberts            2158
George_Lucas             2130
Robert_Downey_Jr.        2121
Tiger_Woods              2094
The_Police               2044
Garth_Brooks             1988
Tom_Cruise               1902
Cristiano_Ronaldo        1897
J._K._Rowling            1861
Adele                    1855
Harrison_Ford            1838
Kevin_Hart               1761
Elton_John               1712
Dan_Brown                1530
Simon_Cowell             1528
Ellen_DeGeneres          1515
Angelina_Jolie           1488
Katy_Perry               1323
Kim_Kardashian           1267
James_Patterson          1264
Drake_(musician)         1124
Paula_Deen               1099
Judy_Sheindlin           1072
Lady_Gaga                1028
Phil_McGraw               912
Kylie_Jenner              838
Taylor_Swift              814
Ed_Sheeran                490
One_Direction             377
Justin_Bieber              81
Name: title, Length: 82, dtype: int64

In [7]:
# 3 Per user, count how many careers
# get the user 
unregistered_users = df[df['userid']==0]
users = pd.DataFrame(unregistered_users.groupby(["user", "career"])["career"].agg([len])).reset_index()
users1 = users.groupby("user")["career"].agg([len]).sort_values(by="len", ascending=False)
users1

                                       len
user
202.156.6.54                            10
Conversion script                        9
68.39.174.238                            7
128.187.0.164                            7
131.107.0.73                             7
129.33.49.251                            6
210.49.196.232                           6
24.71.223.140                            6
24.70.95.203                             6
64.236.245.243                           6
24.15.217.4                              6
63.164.145.85                            6
205.174.22.26                            6
24.66.94.140                             6
82.18.125.110                            5
210.49.193.178                           5
67.171.226.128                           5
196.2.124.251                            5
2602:306:381E:5630:356A:B32:7680:BC15    5
146.74.230.249                           5
68.115.194.132                           5
32.97.110.142                            5
216.11.222.21                            5
218.186.8.11                             5
165.21.154.111                           5
62.31.55.223                             5
82.194.62.22                             5
143.231.249.141                          5
206.191.69.149                           5
193.0.252.16                             5
...                                    ...
24.188.16.112                            1
24.188.16.60                             1
24.188.56.30                             1
24.188.46.164                            1
24.188.43.110                            1
24.188.4.180                             1
24.188.38.48                             1
24.188.33.234                            1
24.188.26.190                            1
24.188.242.217                           1
24.188.241.238                           1
24.188.24.227                            1
24.188.23.19                             1
24.188.228.205                           1
24.188.221.101                           1
24.188.21.66                             1
24.188.205.33                            1
24.188.196.58                            1
24.188.190.253                           1
24.188.190.155                           1
24.188.189.31                            1
24.188.188.128                           1
24.188.187.74                            1
24.188.185.226                           1
24.188.181.53                            1
24.188.180.16                            1
24.188.177.195                           1
24.188.17.230                            1
24.188.167.67                            1
imported>9.21                            1

[134688 rows x 1 columns]

In [8]:
registered_users = df[df['userid']!=0]
users = pd.DataFrame(registered_users.groupby(["user", "career"])["career"].agg([len])).reset_index()
users1 = users.groupby("user")["career"].agg([len]).sort_values(by="len", ascending=False)
users1

                                len
user
VoABot II                        17
ClueBot                          17
InternetArchiveBot               17
GreenC bot                       17
KolbertBot                       17
Tide rolls                       17
Can't sleep, clown will eat me   17
Gilliam                          17
CommonsDelinker                  17
Woohookitty                      17
RussBot                          17
Bender the Bot                   17
Cydebot                          17
AnomieBOT                        17
Addbot                           17
FrescoBot                        17
Bender235                        17
DumZiBoT                         17
Luckas-bot                       17
Discospinster                    17
Iridescent                       17
BG19bot                          17
SmackBot                         17
RjwilmsiBot                      17
AntiVandalBot                    16
Arbor to SJ                      16
KasparBot                        16
Bongwarrior                      16
Rich Farmbrough                  16
J.delanoy                        16
...                             ...
Hpdl                              1
Hpayner                           1
Hpart13                           1
Hpaiste                           1
Hoverfish                         1
How hot is the sun?               1
How2what4                         1
Howard Drake~enwiki               1
Howard2112                        1
Howard2113                        1
Howard352                         1
Howard8812                        1
HowardJWilk                       1
HowardRob                         1
Howardfalco1                      1
Howardwrites36                    1
Howdychicken                      1
Howie wu                          1
Howrad                            1
Howrealisreal                     1
Howtotouchagirl                   1
Howtwosavealif3                   1
Hoy12                             1
Hoylake                           1
Hoyre                             1
Hoziron                           1
Hp zaynmalik dan.r                1
Hp3082a                           1
Hpage51                           1
Kojikatsuya                       1

[69840 rows x 1 columns]

In [11]:
# 3a Dedicated to only one career
users1[users1['len']==1]

                      len
user
Nutsolicious54          1
Nvanloon                1
Nutshinou               1
Pimpy543                1
NutsAboutFacts          1
Nutnics                 1
Pixley                  1
Pilgab                  1
Ntm327                  1
Pimpos                  1
Vcr215                  1
Piyush90                1
Olagato                 1
Nutmilk                 1
Wheatjedi               1
Nvorana                 1
Pixel2metal             1
Plandr                  1
Wheatman123             1
Nvcncncncn              1
Where next Columbus?    1
Plainsong               1
NtoSi                   1
Whedonite               1
Olam Tiqqun             1
Wheelrain               1
Pizza Bunny Funny       1
Pinakapoging bata       1
Vcuray2015              1
Whenyoucallmyname       1
...                   ...
Hpdl                    1
Hpayner                 1
Hpart13                 1
Hpaiste                 1
Hoverfish               1
How hot is the sun?     1
How2what4               1
Howard Drake~enwiki     1
Howard2112              1
Howard2113              1
Howard352               1
Howard8812              1
HowardJWilk             1
HowardRob               1
Howardfalco1            1
Howardwrites36          1
Howdychicken            1
Howie wu                1
Howrad                  1
Howrealisreal           1
Howtotouchagirl         1
Howtwosavealif3         1
Hoy12                   1
Hoylake                 1
Hoyre                   1
Hoziron                 1
Hp zaynmalik dan.r      1
Hp3082a                 1
Hpage51                 1
Kojikatsuya             1

[53305 rows x 1 columns]