In [1]:
import pandas as pd
import numpy as np

In [2]:
fn = "../input/forbes_celebrity_list.csv"

In [3]:
df = pd.read_csv(fn)

In [4]:
?pd.read_csv

In [5]:
df # this is a pandas dataframe
# note that every row has an index and every column has a name

,year,rank,recipient,country,career,tied,title
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
3,1999,4,Jerry Seinfeld,United States,Actor,0,Jerry_Seinfeld
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
5,1999,6,Spice Girls,United Kingdom,Musicians,0,Spice_Girls
6,1999,7,Harrison Ford,United States,Actor,0,Harrison_Ford
7,1999,8,Robin Williams,United States,Actor,0,Robin_Williams
8,1999,9,Celine Dion,Canada,Musician,0,CÃ©line_Dion
9,1999,10,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
10,2000,1,Julia Roberts,United States,Actor,0,Julia_Roberts
11,2000,2,George Lucas,United States,Filmmaker,0,George_Lucas
12,2000,3,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
13,2000,4,Tom Hanks,United States,Actor,0,Tom_Hanks
14,2000,5,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
15,2000,6,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
16,2000,7,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
17,2000,8,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
18,2000,9,Cher,United States,Musician,0,Cher
19,2000,10,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
20,2001,1,Tom Cruise,United States,Actor,0,Tom_Cruise
21,2001,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
22,2001,3,The Beatles,United Kingdom,Musicians,0,The_Beatles
23,2001,4,Britney Spears,United States,Musician,0,Britney_Spears
24,2001,5,Bruce Willis,United States,Actor,0,Bruce_Willis
25,2001,6,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
26,2001,7,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
27,2001,8,NSYNC,United States,Musicians,0,NSYNC
28,2001,9,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
29,2001,10,Mel Gibson,United States,Actor,0,Mel_Gibson
...,...,...,...,...,...,...,...
172,2016,1,Taylor Swift,United States,Musician,0,Taylor_Swift
173,2016,2,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
174,2016,3,James Patterson,United States,Author,0,James_Patterson
175,2016,4,Cristiano Ronaldo,Portugal,Sportsperson (Association Football),0,Cristiano_Ronaldo
176,2016,4,Dr. Phil McGraw,United States,Television Personality,0,Phil_McGraw
177,2016,6,Kevin Hart,United States,Actor,0,Kevin_Hart
178,2016,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
179,2016,8,Lionel Messi,Argentina,Sportsperson (Association Football),0,Lionel_Messi
180,2016,9,Adele,United Kingdom,Musician,0,Adele
181,2016,10,Rush Limbaugh,United States,Radio Personality,0,Rush_Limbaugh
182,2017,1,Sean 'Diddy' Combs,United States,Musician,0,Sean_Combs
183,2017,2,Beyonce,United States,Musician,0,BeyoncÃ©
184,2017,3,J. K. Rowling,United Kingdom,Author,0,J._K._Rowling
185,2017,4,Drake,Canada,Musician,0,Drake_(musician)
186,2017,5,Cristiano Ronaldo,Portugal,Sportsperson (Association Football),0,Cristiano_Ronaldo
187,2017,6,The Weeknd,Canada,Musician,0,The_Weeknd
188,2017,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
189,2017,8,Coldplay,United Kingdom,Musician,0,Coldplay
190,2017,9,James Patterson,United States,Author,0,James_Patterson
191,2017,10,LeBron James,United States,Sportsperson (Basketball),0,LeBron_James
192,2018,1,"Floyd Mayweather, Jr.",United States,Athlete (Boxing),0,Floyd_Mayweather_Jr.
193,2018,2,George Clooney,United States,Actor,0,George_Clooney
194,2018,3,Kylie Jenner,United States,Personality,0,Kylie_Jenner
195,2018,4,Judy Sheindlin,United States,Personality,0,Judy_Sheindlin
196,2018,5,Dwayne Johnson,United States,Actor,0,Dwayne_Johnson
197,2018,6,U2,Republic of Ireland,Musicians,0,U2
198,2018,7,Coldplay,United Kingdom,Musicians,0,Coldplay
199,2018,8,Lionel Messi,Argentina,Athlete (Association football),0,Lionel_Messi
200,2018,9,Ed Sheeran,United Kingdom,Musician,0,Ed_Sheeran
201,2018,10,Cristiano Ronaldo,Portugal,Athlete (Association football),0,Cristiano_Ronaldo

In [6]:
df.head()

,year,rank,recipient,country,career,tied,title
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
3,1999,4,Jerry Seinfeld,United States,Actor,0,Jerry_Seinfeld
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg

In [8]:
# inspect the first 10 rows
df.head(10)

,year,rank,recipient,country,career,tied,title
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
3,1999,4,Jerry Seinfeld,United States,Actor,0,Jerry_Seinfeld
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
5,1999,6,Spice Girls,United Kingdom,Musicians,0,Spice_Girls
6,1999,7,Harrison Ford,United States,Actor,0,Harrison_Ford
7,1999,8,Robin Williams,United States,Actor,0,Robin_Williams
8,1999,9,Celine Dion,Canada,Musician,0,CÃ©line_Dion
9,1999,10,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones

In [10]:
# inspect the last 10 rows 
df.tail(10)

,year,rank,recipient,country,career,tied,title
192,2018,1,"Floyd Mayweather, Jr.",United States,Athlete (Boxing),0,Floyd_Mayweather_Jr.
193,2018,2,George Clooney,United States,Actor,0,George_Clooney
194,2018,3,Kylie Jenner,United States,Personality,0,Kylie_Jenner
195,2018,4,Judy Sheindlin,United States,Personality,0,Judy_Sheindlin
196,2018,5,Dwayne Johnson,United States,Actor,0,Dwayne_Johnson
197,2018,6,U2,Republic of Ireland,Musicians,0,U2
198,2018,7,Coldplay,United Kingdom,Musicians,0,Coldplay
199,2018,8,Lionel Messi,Argentina,Athlete (Association football),0,Lionel_Messi
200,2018,9,Ed Sheeran,United Kingdom,Musician,0,Ed_Sheeran
201,2018,10,Cristiano Ronaldo,Portugal,Athlete (Association football),0,Cristiano_Ronaldo

In [12]:
# count the number of rows
len(df)

202

In [14]:
# get the column headers
df.columns

Index(['year', 'rank', 'recipient', 'country', 'career', 'tied', 'title'], dtype='object')

In [16]:
df[df["tied"]==1]

,year,rank,recipient,country,career,tied,title
41,2003,2,Eminem,United States,Musicians,1,Eminem
42,2003,2,Dr. Dre,United States,Musicians,1,Dr._Dre
100,2008,10,Brad Pitt,United States,Actor,1,Brad_Pitt
101,2008,10,Paula Deen,United States,Television Personality,1,Paula_Deen

In [19]:
# Access dataframe column, row, element
# Access specific column
df["recipient"]           # this is a pandas series

0             Michael Jordan
1              Oprah Winfrey
2          Leonardo DiCaprio
3             Jerry Seinfeld
4           Steven Spielberg
5                Spice Girls
6              Harrison Ford
7             Robin Williams
8                Celine Dion
9         The Rolling Stones
10             Julia Roberts
11              George Lucas
12             Oprah Winfrey
13                 Tom Hanks
14            Michael Jordan
15        The Rolling Stones
16               Tiger Woods
17           Backstreet Boys
18                      Cher
19          Steven Spielberg
20                Tom Cruise
21               Tiger Woods
22               The Beatles
23            Britney Spears
24              Bruce Willis
25            Michael Jordan
26           Backstreet Boys
27                     NSYNC
28             Oprah Winfrey
29                Mel Gibson
               ...
172             Taylor Swift
173            One Direction
174          James Patterson
175        Cristiano Ronaldo
176          Dr. Phil McGraw
177               Kevin Hart
178             Howard Stern
179             Lionel Messi
180                    Adele
181            Rush Limbaugh
182       Sean 'Diddy' Combs
183                  Beyonce
184            J. K. Rowling
185                    Drake
186        Cristiano Ronaldo
187               The Weeknd
188             Howard Stern
189                 Coldplay
190          James Patterson
191             LeBron James
192    Floyd Mayweather, Jr.
193           George Clooney
194             Kylie Jenner
195           Judy Sheindlin
196           Dwayne Johnson
197                       U2
198                 Coldplay
199             Lionel Messi
200               Ed Sheeran
201        Cristiano Ronaldo
Name: recipient, Length: 202, dtype: object

In [24]:
# show the first few values
df["recipient"].head(10)

0        Michael Jordan
1         Oprah Winfrey
2     Leonardo DiCaprio
3        Jerry Seinfeld
4      Steven Spielberg
5           Spice Girls
6         Harrison Ford
7        Robin Williams
8           Celine Dion
9    The Rolling Stones
Name: recipient, dtype: object

In [25]:
df.loc[[4,23,26]]

,year,rank,recipient,country,career,tied,title
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
23,2001,4,Britney Spears,United States,Musician,0,Britney_Spears
26,2001,7,Backstreet Boys,United States,Musicians,0,Backstreet_Boys

In [26]:
df.loc[0:4]

,year,rank,recipient,country,career,tied,title
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
3,1999,4,Jerry Seinfeld,United States,Actor,0,Jerry_Seinfeld
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg

In [28]:
df.loc[4, "recipient"]

'Steven Spielberg'

In [30]:
df[df["rank"]<=3]

,year,rank,recipient,country,career,tied,title
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
10,2000,1,Julia Roberts,United States,Actor,0,Julia_Roberts
11,2000,2,George Lucas,United States,Filmmaker,0,George_Lucas
12,2000,3,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
20,2001,1,Tom Cruise,United States,Actor,0,Tom_Cruise
21,2001,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
22,2001,3,The Beatles,United Kingdom,Musicians,0,The_Beatles
30,2002,1,Britney Spears,United States,Musicians,0,Britney_Spears
31,2002,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
32,2002,3,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
40,2003,1,Jennifer Aniston,United States,Actor,0,Jennifer_Aniston
41,2003,2,Eminem,United States,Musicians,1,Eminem
42,2003,2,Dr. Dre,United States,Musicians,1,Dr._Dre
43,2003,3,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
51,2004,1,Mel Gibson,United States,Actor,0,Mel_Gibson
52,2004,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
53,2004,3,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
61,2005,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
62,2005,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
63,2005,3,Mel Gibson,United States,Actor,0,Mel_Gibson
71,2006,1,Tom Cruise,United States,Actor,0,Tom_Cruise
72,2006,2,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
73,2006,3,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
81,2007,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
82,2007,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
83,2007,3,Madonna,United States,Musician,0,Madonna_(entertainer)
91,2008,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
92,2008,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
...,...,...,...,...,...,...,...
102,2009,1,Angelina Jolie,United States,Actor,0,Angelina_Jolie
103,2009,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
104,2009,3,Madonna,United States,Musician,0,Madonna_(entertainer)
112,2010,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
113,2010,2,Beyonce,United States,Musician,0,BeyoncÃ©
114,2010,3,James Cameron,Canada,Filmmaker,0,James_Cameron
122,2011,1,Lady Gaga,United States,Musician,0,Lady_Gaga
123,2011,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
124,2011,3,Justin Bieber,Canada,Musician,0,Justin_Bieber
132,2012,1,Jennifer Lopez,United States,Musician / Actor,0,Jennifer_Lopez
133,2012,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
134,2012,3,Justin Bieber,Canada,Musician,0,Justin_Bieber
142,2013,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
143,2013,2,Lady Gaga,United States,Musician,0,Lady_Gaga
144,2013,3,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
152,2014,1,Beyonce,United States,Musician,0,BeyoncÃ©
153,2014,2,LeBron James,United States,Sportsperson (Basketball),0,LeBron_James
154,2014,3,Dr. Dre,United States,Musician,0,Dr._Dre
162,2015,1,"Floyd Mayweather, Jr.",United States,Sportsperson (Boxing),0,Floyd_Mayweather_Jr.
163,2015,2,Manny Pacquiao,Philippines,Sportsperson (Boxing),0,Manny_Pacquiao
164,2015,3,Katy Perry,United States,Musician,0,Katy_Perry
172,2016,1,Taylor Swift,United States,Musician,0,Taylor_Swift
173,2016,2,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
174,2016,3,James Patterson,United States,Author,0,James_Patterson
182,2017,1,Sean 'Diddy' Combs,United States,Musician,0,Sean_Combs
183,2017,2,Beyonce,United States,Musician,0,BeyoncÃ©
184,2017,3,J. K. Rowling,United Kingdom,Author,0,J._K._Rowling
192,2018,1,"Floyd Mayweather, Jr.",United States,Athlete (Boxing),0,Floyd_Mayweather_Jr.
193,2018,2,George Clooney,United States,Actor,0,George_Clooney
194,2018,3,Kylie Jenner,United States,Personality,0,Kylie_Jenner

In [32]:
df[["recipient", "career", "rank"]].head()

           recipient                     career  rank
0     Michael Jordan  Sportsperson (Basketball)     1
1      Oprah Winfrey     Television Personality     2
2  Leonardo DiCaprio                      Actor     3
3     Jerry Seinfeld                      Actor     4
4   Steven Spielberg                  Filmmaker     5

In [34]:
# Tally values
df["career"].value_counts() # this is sorted from highest to lowest count

Musician                               52
Actor                                  37
Musicians                              26
Television Personality                 23
Filmmaker                              14
Sportsperson (Golf)                    12
Sportsperson (Basketball)              10
Author                                  7
Sportsperson (Association Football)     5
Radio Personality                       4
Sportsperson (Boxing)                   3
Musician / Actor                        2
Athlete (Association football)          2
Personality                             2
Actors                                  1
Sportsperson (Tennis)                   1
Athlete (Boxing)                        1
Name: career, dtype: int64

In [35]:
# Filter by country
df[df["country"]=="Philippines"]

,year,rank,recipient,country,career,tied,title
163,2015,2,Manny Pacquiao,Philippines,Sportsperson (Boxing),0,Manny_Pacquiao

In [37]:
# Q: Who were in top 5 in the same year?
# Filter by rank and year
df[(df["rank"]<=5) & (df["year"]==2015)]

,year,rank,recipient,country,career,tied,title
162,2015,1,"Floyd Mayweather, Jr.",United States,Sportsperson (Boxing),0,Floyd_Mayweather_Jr.
163,2015,2,Manny Pacquiao,Philippines,Sportsperson (Boxing),0,Manny_Pacquiao
164,2015,3,Katy Perry,United States,Musician,0,Katy_Perry
165,2015,4,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
166,2015,5,Howard Stern,United States,Television Personality,0,Howard_Stern

In [38]:
# How many celerbrities are in the list?
recipients = pd.unique(df["recipient"])

In [39]:
len(recipients)

82

In [40]:
recipients

array(['Michael Jordan', 'Oprah Winfrey', 'Leonardo DiCaprio',
       'Jerry Seinfeld', 'Steven Spielberg', 'Spice Girls',
       'Harrison Ford', 'Robin Williams', 'Celine Dion',
       'The Rolling Stones', 'Julia Roberts', 'George Lucas', 'Tom Hanks',
       'Tiger Woods', 'Backstreet Boys', 'Cher', 'Tom Cruise',
       'The Beatles', 'Britney Spears', 'Bruce Willis', 'NSYNC',
       'Mel Gibson', 'Madonna', 'U2', 'Mariah Carey', 'Jennifer Aniston',
       'Eminem', 'Dr. Dre', 'Jennifer Lopez', 'Paul McCartney',
       'Ben Affleck', 'J. K. Rowling', 'Bruce Springsteen', 'Johnny Depp',
       "Shaquille O'Neal", 'Elton John', 'Howard Stern', '50 Cent',
       'Cast of The Sopranos', 'Dan Brown', 'Brad Pitt', 'Jay-Z',
       'Angelina Jolie', 'Beyonce', 'David Beckham', 'The Police',
       'Paula Deen', 'Kobe Bryant', 'James Cameron', 'Lady Gaga',
       'Sandra Bullock', 'Justin Bieber', 'Taylor Swift', 'Bon Jovi',
       'Simon Cowell', 'LeBron James', 'Rihanna', 'Kim Kardashian',
       'Katy Perry', 'Roger Federer', 'Ellen DeGeneres',
       'Floyd Mayweather, Jr.', 'Robert Downey, Jr.', 'Manny Pacquiao',
       'One Direction', 'Garth Brooks', 'James Patterson',
       'Cristiano Ronaldo', 'Dr. Phil McGraw', 'Kevin Hart',
       'Lionel Messi', 'Adele', 'Rush Limbaugh', "Sean 'Diddy' Combs",
       'Drake', 'The Weeknd', 'Coldplay', 'George Clooney',
       'Kylie Jenner', 'Judy Sheindlin', 'Dwayne Johnson', 'Ed Sheeran'],
      dtype=object)

In [42]:
df[df["recipient"].str.contains("Manny")]

,year,rank,recipient,country,career,tied,title
163,2015,2,Manny Pacquiao,Philippines,Sportsperson (Boxing),0,Manny_Pacquiao

In [44]:
df[df["recipient"].str.contains("Jr")]

,year,rank,recipient,country,career,tied,title
158,2014,7,"Floyd Mayweather, Jr.",United States,Sportsperson (Boxing),0,Floyd_Mayweather_Jr.
161,2014,10,"Robert Downey, Jr.",United States,Actor,0,Robert_Downey_Jr.
162,2015,1,"Floyd Mayweather, Jr.",United States,Sportsperson (Boxing),0,Floyd_Mayweather_Jr.
169,2015,8,"Robert Downey, Jr.",United States,Actor,0,Robert_Downey_Jr.
192,2018,1,"Floyd Mayweather, Jr.",United States,Athlete (Boxing),0,Floyd_Mayweather_Jr.

In [46]:
# sort dataframe
df.sort_values(by="recipient")

,year,rank,recipient,country,career,tied,title
78,2006,8,50 Cent,United States,Musician,0,50_Cent
180,2016,9,Adele,United Kingdom,Musician,0,Adele
93,2008,3,Angelina Jolie,United States,Actor,0,Angelina_Jolie
102,2009,1,Angelina Jolie,United States,Actor,0,Angelina_Jolie
26,2001,7,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
17,2000,8,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
47,2003,7,Ben Affleck,United States,Actor,0,Ben_Affleck
183,2017,2,Beyonce,United States,Musician,0,BeyoncÃ©
94,2008,4,Beyonce,United States,Musician,0,BeyoncÃ©
152,2014,1,Beyonce,United States,Musician,0,BeyoncÃ©
145,2013,4,Beyonce,United States,Musician,0,BeyoncÃ©
105,2009,4,Beyonce,United States,Musician,0,BeyoncÃ©
113,2010,2,Beyonce,United States,Musician,0,BeyoncÃ©
148,2013,7,Bon Jovi,United States,Musicians,0,Bon_Jovi
129,2011,8,Bon Jovi,United States,Musician,0,Bon_Jovi
85,2007,5,Brad Pitt,United States,Actor,0,Brad_Pitt
100,2008,10,Brad Pitt,United States,Actor,1,Brad_Pitt
110,2009,9,Brad Pitt,United States,Actor,0,Brad_Pitt
117,2010,6,Britney Spears,United States,Musician,0,Britney_Spears
137,2012,6,Britney Spears,United States,Musician,0,Britney_Spears
23,2001,4,Britney Spears,United States,Musician,0,Britney_Spears
30,2002,1,Britney Spears,United States,Musicians,0,Britney_Spears
107,2009,6,Bruce Springsteen,United States,Musician,0,Bruce_Springsteen
58,2004,8,Bruce Springsteen,United States,Musician,0,Bruce_Springsteen
24,2001,5,Bruce Willis,United States,Actor,0,Bruce_Willis
79,2006,9,Cast of The Sopranos,Various,Actors,0,The_Sopranos
8,1999,9,Celine Dion,Canada,Musician,0,CÃ©line_Dion
18,2000,9,Cher,United States,Musician,0,Cher
189,2017,8,Coldplay,United Kingdom,Musician,0,Coldplay
198,2018,7,Coldplay,United Kingdom,Musicians,0,Coldplay
...,...,...,...,...,...,...,...
15,2000,6,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
9,1999,10,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
84,2007,4,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
187,2017,6,The Weeknd,Canada,Musician,0,The_Weeknd
52,2004,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
16,2000,7,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
62,2005,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
127,2011,6,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
106,2009,5,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
82,2007,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
31,2002,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
21,2001,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
75,2006,5,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
43,2003,3,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
92,2008,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
116,2010,5,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
140,2012,9,Tom Cruise,United States,Actor,0,Tom_Cruise
70,2005,10,Tom Cruise,United States,Actor,0,Tom_Cruise
54,2004,4,Tom Cruise,United States,Actor,0,Tom_Cruise
20,2001,1,Tom Cruise,United States,Actor,0,Tom_Cruise
71,2006,1,Tom Cruise,United States,Actor,0,Tom_Cruise
88,2007,8,Tom Cruise,United States,Actor,0,Tom_Cruise
13,2000,4,Tom Hanks,United States,Actor,0,Tom_Hanks
39,2002,10,Tom Hanks,United States,Actor,0,Tom_Hanks
49,2003,9,Tom Hanks,United States,Actor,0,Tom_Hanks
74,2006,4,U2,Republic of Ireland,Musicians,0,U2
125,2011,4,U2,Republic of Ireland,Musicians,0,U2
118,2010,7,U2,Republic of Ireland,Musicians,0,U2
197,2018,6,U2,Republic of Ireland,Musicians,0,U2
34,2002,5,U2,Republic of Ireland,Musicians,0,U2

In [47]:
df.sort_values(by="recipient", ascending=False)

,year,rank,recipient,country,career,tied,title
197,2018,6,U2,Republic of Ireland,Musicians,0,U2
118,2010,7,U2,Republic of Ireland,Musicians,0,U2
34,2002,5,U2,Republic of Ireland,Musicians,0,U2
125,2011,4,U2,Republic of Ireland,Musicians,0,U2
74,2006,4,U2,Republic of Ireland,Musicians,0,U2
13,2000,4,Tom Hanks,United States,Actor,0,Tom_Hanks
49,2003,9,Tom Hanks,United States,Actor,0,Tom_Hanks
39,2002,10,Tom Hanks,United States,Actor,0,Tom_Hanks
88,2007,8,Tom Cruise,United States,Actor,0,Tom_Cruise
54,2004,4,Tom Cruise,United States,Actor,0,Tom_Cruise
140,2012,9,Tom Cruise,United States,Actor,0,Tom_Cruise
71,2006,1,Tom Cruise,United States,Actor,0,Tom_Cruise
20,2001,1,Tom Cruise,United States,Actor,0,Tom_Cruise
70,2005,10,Tom Cruise,United States,Actor,0,Tom_Cruise
116,2010,5,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
16,2000,7,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
75,2006,5,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
52,2004,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
127,2011,6,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
21,2001,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
92,2008,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
62,2005,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
82,2007,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
106,2009,5,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
31,2002,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
43,2003,3,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
187,2017,6,The Weeknd,Canada,Musician,0,The_Weeknd
55,2004,5,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
15,2000,6,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
50,2003,10,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
...,...,...,...,...,...,...,...
198,2018,7,Coldplay,United Kingdom,Musicians,0,Coldplay
189,2017,8,Coldplay,United Kingdom,Musician,0,Coldplay
18,2000,9,Cher,United States,Musician,0,Cher
8,1999,9,Celine Dion,Canada,Musician,0,CÃ©line_Dion
79,2006,9,Cast of The Sopranos,Various,Actors,0,The_Sopranos
24,2001,5,Bruce Willis,United States,Actor,0,Bruce_Willis
58,2004,8,Bruce Springsteen,United States,Musician,0,Bruce_Springsteen
107,2009,6,Bruce Springsteen,United States,Musician,0,Bruce_Springsteen
23,2001,4,Britney Spears,United States,Musician,0,Britney_Spears
30,2002,1,Britney Spears,United States,Musicians,0,Britney_Spears
137,2012,6,Britney Spears,United States,Musician,0,Britney_Spears
117,2010,6,Britney Spears,United States,Musician,0,Britney_Spears
100,2008,10,Brad Pitt,United States,Actor,1,Brad_Pitt
110,2009,9,Brad Pitt,United States,Actor,0,Brad_Pitt
85,2007,5,Brad Pitt,United States,Actor,0,Brad_Pitt
129,2011,8,Bon Jovi,United States,Musician,0,Bon_Jovi
148,2013,7,Bon Jovi,United States,Musicians,0,Bon_Jovi
183,2017,2,Beyonce,United States,Musician,0,BeyoncÃ©
113,2010,2,Beyonce,United States,Musician,0,BeyoncÃ©
145,2013,4,Beyonce,United States,Musician,0,BeyoncÃ©
105,2009,4,Beyonce,United States,Musician,0,BeyoncÃ©
94,2008,4,Beyonce,United States,Musician,0,BeyoncÃ©
152,2014,1,Beyonce,United States,Musician,0,BeyoncÃ©
47,2003,7,Ben Affleck,United States,Actor,0,Ben_Affleck
26,2001,7,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
17,2000,8,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
102,2009,1,Angelina Jolie,United States,Actor,0,Angelina_Jolie
93,2008,3,Angelina Jolie,United States,Actor,0,Angelina_Jolie
180,2016,9,Adele,United Kingdom,Musician,0,Adele
78,2006,8,50 Cent,United States,Musician,0,50_Cent

In [48]:
# filter datafram and access specific columns
df.loc[df["career"] == "Sportsperson (Boxing)", "recipient"] # this returns a pandas series

158    Floyd Mayweather, Jr.
162    Floyd Mayweather, Jr.
163           Manny Pacquiao
Name: recipient, dtype: object

In [50]:
df['recipient'].value_counts().index

Index(['Oprah Winfrey', 'Tiger Woods', 'Steven Spielberg', 'Tom Cruise',
       'The Rolling Stones', 'Beyonce', 'Madonna', 'U2', 'Johnny Depp',
       'Michael Jordan', 'Britney Spears', 'Cristiano Ronaldo', 'Howard Stern',
       'Taylor Swift', 'Lady Gaga', 'Tom Hanks', 'Mel Gibson', 'Justin Bieber',
       'James Patterson', 'LeBron James', 'J. K. Rowling', 'Katy Perry',
       'Jay-Z', 'Elton John', 'Floyd Mayweather, Jr.', 'Brad Pitt', 'Dr. Dre',
       'Rihanna', 'Coldplay', 'Angelina Jolie', 'Jennifer Lopez',
       'Lionel Messi', 'Jennifer Aniston', 'Bruce Springsteen', 'George Lucas',
       'Robert Downey, Jr.', 'One Direction', 'Ellen DeGeneres',
       'Backstreet Boys', 'NSYNC', 'Bon Jovi', 'The Police', 'Julia Roberts',
       'Cast of The Sopranos', 'Dwayne Johnson', 'Sean 'Diddy' Combs',
       'Leonardo DiCaprio', 'Drake', '50 Cent', 'Celine Dion', 'Ed Sheeran',
       'The Weeknd', 'Shaquille O'Neal', 'Kylie Jenner', 'Sandra Bullock',
       'Harrison Ford', 'Robin Williams', 'Cher', 'Simon Cowell',
       'Manny Pacquiao', 'James Cameron', 'Dr. Phil McGraw', 'Judy Sheindlin',
       'Adele', 'The Beatles', 'Bruce Willis', 'Paula Deen', 'George Clooney',
       'Spice Girls', 'Eminem', 'Paul McCartney', 'Kobe Bryant',
       'Mariah Carey', 'David Beckham', 'Ben Affleck', 'Jerry Seinfeld',
       'Kim Kardashian', 'Roger Federer', 'Garth Brooks', 'Rush Limbaugh',
       'Dan Brown', 'Kevin Hart'],
      dtype='object')

In [51]:
# sort in descending order 
df.sort_values(by="recipient", ascending=False)

,year,rank,recipient,country,career,tied,title
197,2018,6,U2,Republic of Ireland,Musicians,0,U2
118,2010,7,U2,Republic of Ireland,Musicians,0,U2
34,2002,5,U2,Republic of Ireland,Musicians,0,U2
125,2011,4,U2,Republic of Ireland,Musicians,0,U2
74,2006,4,U2,Republic of Ireland,Musicians,0,U2
13,2000,4,Tom Hanks,United States,Actor,0,Tom_Hanks
49,2003,9,Tom Hanks,United States,Actor,0,Tom_Hanks
39,2002,10,Tom Hanks,United States,Actor,0,Tom_Hanks
88,2007,8,Tom Cruise,United States,Actor,0,Tom_Cruise
54,2004,4,Tom Cruise,United States,Actor,0,Tom_Cruise
140,2012,9,Tom Cruise,United States,Actor,0,Tom_Cruise
71,2006,1,Tom Cruise,United States,Actor,0,Tom_Cruise
20,2001,1,Tom Cruise,United States,Actor,0,Tom_Cruise
70,2005,10,Tom Cruise,United States,Actor,0,Tom_Cruise
116,2010,5,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
16,2000,7,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
75,2006,5,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
52,2004,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
127,2011,6,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
21,2001,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
92,2008,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
62,2005,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
82,2007,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
106,2009,5,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
31,2002,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
43,2003,3,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
187,2017,6,The Weeknd,Canada,Musician,0,The_Weeknd
55,2004,5,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
15,2000,6,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
50,2003,10,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
...,...,...,...,...,...,...,...
198,2018,7,Coldplay,United Kingdom,Musicians,0,Coldplay
189,2017,8,Coldplay,United Kingdom,Musician,0,Coldplay
18,2000,9,Cher,United States,Musician,0,Cher
8,1999,9,Celine Dion,Canada,Musician,0,CÃ©line_Dion
79,2006,9,Cast of The Sopranos,Various,Actors,0,The_Sopranos
24,2001,5,Bruce Willis,United States,Actor,0,Bruce_Willis
58,2004,8,Bruce Springsteen,United States,Musician,0,Bruce_Springsteen
107,2009,6,Bruce Springsteen,United States,Musician,0,Bruce_Springsteen
23,2001,4,Britney Spears,United States,Musician,0,Britney_Spears
30,2002,1,Britney Spears,United States,Musicians,0,Britney_Spears
137,2012,6,Britney Spears,United States,Musician,0,Britney_Spears
117,2010,6,Britney Spears,United States,Musician,0,Britney_Spears
100,2008,10,Brad Pitt,United States,Actor,1,Brad_Pitt
110,2009,9,Brad Pitt,United States,Actor,0,Brad_Pitt
85,2007,5,Brad Pitt,United States,Actor,0,Brad_Pitt
129,2011,8,Bon Jovi,United States,Musician,0,Bon_Jovi
148,2013,7,Bon Jovi,United States,Musicians,0,Bon_Jovi
183,2017,2,Beyonce,United States,Musician,0,BeyoncÃ©
113,2010,2,Beyonce,United States,Musician,0,BeyoncÃ©
145,2013,4,Beyonce,United States,Musician,0,BeyoncÃ©
105,2009,4,Beyonce,United States,Musician,0,BeyoncÃ©
94,2008,4,Beyonce,United States,Musician,0,BeyoncÃ©
152,2014,1,Beyonce,United States,Musician,0,BeyoncÃ©
47,2003,7,Ben Affleck,United States,Actor,0,Ben_Affleck
26,2001,7,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
17,2000,8,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
102,2009,1,Angelina Jolie,United States,Actor,0,Angelina_Jolie
93,2008,3,Angelina Jolie,United States,Actor,0,Angelina_Jolie
180,2016,9,Adele,United Kingdom,Musician,0,Adele
78,2006,8,50 Cent,United States,Musician,0,50_Cent

In [53]:
df.sort_values(by=["rank", "year"], ascending=[True,False])

,year,rank,recipient,country,career,tied,title
192,2018,1,"Floyd Mayweather, Jr.",United States,Athlete (Boxing),0,Floyd_Mayweather_Jr.
182,2017,1,Sean 'Diddy' Combs,United States,Musician,0,Sean_Combs
172,2016,1,Taylor Swift,United States,Musician,0,Taylor_Swift
162,2015,1,"Floyd Mayweather, Jr.",United States,Sportsperson (Boxing),0,Floyd_Mayweather_Jr.
152,2014,1,Beyonce,United States,Musician,0,BeyoncÃ©
142,2013,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
132,2012,1,Jennifer Lopez,United States,Musician / Actor,0,Jennifer_Lopez
122,2011,1,Lady Gaga,United States,Musician,0,Lady_Gaga
112,2010,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
102,2009,1,Angelina Jolie,United States,Actor,0,Angelina_Jolie
91,2008,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
81,2007,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
71,2006,1,Tom Cruise,United States,Actor,0,Tom_Cruise
61,2005,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
51,2004,1,Mel Gibson,United States,Actor,0,Mel_Gibson
40,2003,1,Jennifer Aniston,United States,Actor,0,Jennifer_Aniston
30,2002,1,Britney Spears,United States,Musicians,0,Britney_Spears
20,2001,1,Tom Cruise,United States,Actor,0,Tom_Cruise
10,2000,1,Julia Roberts,United States,Actor,0,Julia_Roberts
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
193,2018,2,George Clooney,United States,Actor,0,George_Clooney
183,2017,2,Beyonce,United States,Musician,0,BeyoncÃ©
173,2016,2,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
163,2015,2,Manny Pacquiao,Philippines,Sportsperson (Boxing),0,Manny_Pacquiao
153,2014,2,LeBron James,United States,Sportsperson (Basketball),0,LeBron_James
143,2013,2,Lady Gaga,United States,Musician,0,Lady_Gaga
133,2012,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
123,2011,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
113,2010,2,Beyonce,United States,Musician,0,BeyoncÃ©
103,2009,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
...,...,...,...,...,...,...,...
89,2007,9,Jay-Z,United States,Musician,0,Jay-Z
79,2006,9,Cast of The Sopranos,Various,Actors,0,The_Sopranos
69,2005,9,Elton John,United Kingdom,Musician,0,Elton_John
59,2004,9,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
49,2003,9,Tom Hanks,United States,Actor,0,Tom_Hanks
38,2002,9,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
28,2001,9,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
18,2000,9,Cher,United States,Musician,0,Cher
8,1999,9,Celine Dion,Canada,Musician,0,CÃ©line_Dion
201,2018,10,Cristiano Ronaldo,Portugal,Athlete (Association football),0,Cristiano_Ronaldo
191,2017,10,LeBron James,United States,Sportsperson (Basketball),0,LeBron_James
181,2016,10,Rush Limbaugh,United States,Radio Personality,0,Rush_Limbaugh
171,2015,10,Cristiano Ronaldo,Portugal,Sportsperson (Association Football),0,Cristiano_Ronaldo
161,2014,10,"Robert Downey, Jr.",United States,Actor,0,Robert_Downey_Jr.
151,2013,10,Ellen DeGeneres,United States,Television Personality,0,Ellen_DeGeneres
141,2012,10,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
131,2011,10,LeBron James,United States,Sportsperson (Basketball),0,LeBron_James
121,2010,10,Madonna,United States,Musician,0,Madonna_(entertainer)
111,2009,10,Kobe Bryant,United States,Sportsperson (Basketball),0,Kobe_Bryant
100,2008,10,Brad Pitt,United States,Actor,1,Brad_Pitt
101,2008,10,Paula Deen,United States,Television Personality,1,Paula_Deen
90,2007,10,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
80,2006,10,Dan Brown,United States,Author,0,Dan_Brown
70,2005,10,Tom Cruise,United States,Actor,0,Tom_Cruise
60,2004,10,Johnny Depp,United States,Actor,0,Johnny_Depp
50,2003,10,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
39,2002,10,Tom Hanks,United States,Actor,0,Tom_Hanks
29,2001,10,Mel Gibson,United States,Actor,0,Mel_Gibson
19,2000,10,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
9,1999,10,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones

In [59]:
# Getting the top 5 celebrities by year

df[df["rank"]<=5].sort_values(by=["year", "rank"], ascending=[False, True])

,year,rank,recipient,country,career,tied,title
192,2018,1,"Floyd Mayweather, Jr.",United States,Athlete (Boxing),0,Floyd_Mayweather_Jr.
193,2018,2,George Clooney,United States,Actor,0,George_Clooney
194,2018,3,Kylie Jenner,United States,Personality,0,Kylie_Jenner
195,2018,4,Judy Sheindlin,United States,Personality,0,Judy_Sheindlin
196,2018,5,Dwayne Johnson,United States,Actor,0,Dwayne_Johnson
182,2017,1,Sean 'Diddy' Combs,United States,Musician,0,Sean_Combs
183,2017,2,Beyonce,United States,Musician,0,BeyoncÃ©
184,2017,3,J. K. Rowling,United Kingdom,Author,0,J._K._Rowling
185,2017,4,Drake,Canada,Musician,0,Drake_(musician)
186,2017,5,Cristiano Ronaldo,Portugal,Sportsperson (Association Football),0,Cristiano_Ronaldo
172,2016,1,Taylor Swift,United States,Musician,0,Taylor_Swift
173,2016,2,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
174,2016,3,James Patterson,United States,Author,0,James_Patterson
175,2016,4,Cristiano Ronaldo,Portugal,Sportsperson (Association Football),0,Cristiano_Ronaldo
176,2016,4,Dr. Phil McGraw,United States,Television Personality,0,Phil_McGraw
162,2015,1,"Floyd Mayweather, Jr.",United States,Sportsperson (Boxing),0,Floyd_Mayweather_Jr.
163,2015,2,Manny Pacquiao,Philippines,Sportsperson (Boxing),0,Manny_Pacquiao
164,2015,3,Katy Perry,United States,Musician,0,Katy_Perry
165,2015,4,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
166,2015,5,Howard Stern,United States,Television Personality,0,Howard_Stern
152,2014,1,Beyonce,United States,Musician,0,BeyoncÃ©
153,2014,2,LeBron James,United States,Sportsperson (Basketball),0,LeBron_James
154,2014,3,Dr. Dre,United States,Musician,0,Dr._Dre
155,2014,4,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
156,2014,5,Ellen DeGeneres,United States,Television Personality,0,Ellen_DeGeneres
142,2013,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
143,2013,2,Lady Gaga,United States,Musician,0,Lady_Gaga
144,2013,3,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
145,2013,4,Beyonce,United States,Musician,0,BeyoncÃ©
146,2013,5,Madonna,United States,Musician,0,Madonna_(entertainer)
...,...,...,...,...,...,...,...
52,2004,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
53,2004,3,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
54,2004,4,Tom Cruise,United States,Actor,0,Tom_Cruise
55,2004,5,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
40,2003,1,Jennifer Aniston,United States,Actor,0,Jennifer_Aniston
41,2003,2,Eminem,United States,Musicians,1,Eminem
42,2003,2,Dr. Dre,United States,Musicians,1,Dr._Dre
43,2003,3,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
44,2003,4,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
45,2003,5,Jennifer Lopez,United States,Musician / Actor,0,Jennifer_Lopez
30,2002,1,Britney Spears,United States,Musicians,0,Britney_Spears
31,2002,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
32,2002,3,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
33,2002,4,Madonna,United States,Musician,0,Madonna_(entertainer)
34,2002,5,U2,Republic of Ireland,Musicians,0,U2
20,2001,1,Tom Cruise,United States,Actor,0,Tom_Cruise
21,2001,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
22,2001,3,The Beatles,United Kingdom,Musicians,0,The_Beatles
23,2001,4,Britney Spears,United States,Musician,0,Britney_Spears
24,2001,5,Bruce Willis,United States,Actor,0,Bruce_Willis
10,2000,1,Julia Roberts,United States,Actor,0,Julia_Roberts
11,2000,2,George Lucas,United States,Filmmaker,0,George_Lucas
12,2000,3,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
13,2000,4,Tom Hanks,United States,Actor,0,Tom_Hanks
14,2000,5,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
3,1999,4,Jerry Seinfeld,United States,Actor,0,Jerry_Seinfeld
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg

In [93]:
## how many times did she reach the top spot?
df_top = df.loc[(df["recipient"]=="Oprah Winfrey")  & (df["rank"]==1)]
df_top

,year,rank,recipient,country,career,tied,title
61,2005,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
81,2007,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
91,2008,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
112,2010,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
142,2013,1,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey

In [67]:
len(df_top)

5

In [69]:
# Exercises 
type(df.loc)

pandas.core.indexing._LocIndexer

In [70]:
df.loc[df["career"]=="Actors", ["recipient", "year"]]

               recipient  year
79  Cast of The Sopranos  2006

In [72]:
# or 
df[df["career"] == "Actors"][["recipient", "year"]]

               recipient  year
79  Cast of The Sopranos  2006

In [82]:
df[df["country"].str.lower().str.contains("united")] # getting the countries with united

,year,rank,recipient,country,career,tied,title
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
3,1999,4,Jerry Seinfeld,United States,Actor,0,Jerry_Seinfeld
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
5,1999,6,Spice Girls,United Kingdom,Musicians,0,Spice_Girls
6,1999,7,Harrison Ford,United States,Actor,0,Harrison_Ford
7,1999,8,Robin Williams,United States,Actor,0,Robin_Williams
9,1999,10,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
10,2000,1,Julia Roberts,United States,Actor,0,Julia_Roberts
11,2000,2,George Lucas,United States,Filmmaker,0,George_Lucas
12,2000,3,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
13,2000,4,Tom Hanks,United States,Actor,0,Tom_Hanks
14,2000,5,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
15,2000,6,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
16,2000,7,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
17,2000,8,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
18,2000,9,Cher,United States,Musician,0,Cher
19,2000,10,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
20,2001,1,Tom Cruise,United States,Actor,0,Tom_Cruise
21,2001,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
22,2001,3,The Beatles,United Kingdom,Musicians,0,The_Beatles
23,2001,4,Britney Spears,United States,Musician,0,Britney_Spears
24,2001,5,Bruce Willis,United States,Actor,0,Bruce_Willis
25,2001,6,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
26,2001,7,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
27,2001,8,NSYNC,United States,Musicians,0,NSYNC
28,2001,9,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
29,2001,10,Mel Gibson,United States,Actor,0,Mel_Gibson
30,2002,1,Britney Spears,United States,Musicians,0,Britney_Spears
...,...,...,...,...,...,...,...
162,2015,1,"Floyd Mayweather, Jr.",United States,Sportsperson (Boxing),0,Floyd_Mayweather_Jr.
164,2015,3,Katy Perry,United States,Musician,0,Katy_Perry
165,2015,4,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
166,2015,5,Howard Stern,United States,Television Personality,0,Howard_Stern
167,2015,6,Garth Brooks,United States,Musician,0,Garth_Brooks
168,2015,7,James Patterson,United States,Author,0,James_Patterson
169,2015,8,"Robert Downey, Jr.",United States,Actor,0,Robert_Downey_Jr.
170,2015,8,Taylor Swift,United States,Musician,0,Taylor_Swift
172,2016,1,Taylor Swift,United States,Musician,0,Taylor_Swift
173,2016,2,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
174,2016,3,James Patterson,United States,Author,0,James_Patterson
176,2016,4,Dr. Phil McGraw,United States,Television Personality,0,Phil_McGraw
177,2016,6,Kevin Hart,United States,Actor,0,Kevin_Hart
178,2016,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
180,2016,9,Adele,United Kingdom,Musician,0,Adele
181,2016,10,Rush Limbaugh,United States,Radio Personality,0,Rush_Limbaugh
182,2017,1,Sean 'Diddy' Combs,United States,Musician,0,Sean_Combs
183,2017,2,Beyonce,United States,Musician,0,BeyoncÃ©
184,2017,3,J. K. Rowling,United Kingdom,Author,0,J._K._Rowling
188,2017,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
189,2017,8,Coldplay,United Kingdom,Musician,0,Coldplay
190,2017,9,James Patterson,United States,Author,0,James_Patterson
191,2017,10,LeBron James,United States,Sportsperson (Basketball),0,LeBron_James
192,2018,1,"Floyd Mayweather, Jr.",United States,Athlete (Boxing),0,Floyd_Mayweather_Jr.
193,2018,2,George Clooney,United States,Actor,0,George_Clooney
194,2018,3,Kylie Jenner,United States,Personality,0,Kylie_Jenner
195,2018,4,Judy Sheindlin,United States,Personality,0,Judy_Sheindlin
196,2018,5,Dwayne Johnson,United States,Actor,0,Dwayne_Johnson
198,2018,7,Coldplay,United Kingdom,Musicians,0,Coldplay
200,2018,9,Ed Sheeran,United Kingdom,Musician,0,Ed_Sheeran

In [83]:
df[df["country"].str.contains("united", case=False)] # getting the countries with united

,year,rank,recipient,country,career,tied,title
0,1999,1,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
1,1999,2,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
2,1999,3,Leonardo DiCaprio,United States,Actor,0,Leonardo_DiCaprio
3,1999,4,Jerry Seinfeld,United States,Actor,0,Jerry_Seinfeld
4,1999,5,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
5,1999,6,Spice Girls,United Kingdom,Musicians,0,Spice_Girls
6,1999,7,Harrison Ford,United States,Actor,0,Harrison_Ford
7,1999,8,Robin Williams,United States,Actor,0,Robin_Williams
9,1999,10,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
10,2000,1,Julia Roberts,United States,Actor,0,Julia_Roberts
11,2000,2,George Lucas,United States,Filmmaker,0,George_Lucas
12,2000,3,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
13,2000,4,Tom Hanks,United States,Actor,0,Tom_Hanks
14,2000,5,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
15,2000,6,The Rolling Stones,United Kingdom,Musicians,0,The_Rolling_Stones
16,2000,7,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
17,2000,8,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
18,2000,9,Cher,United States,Musician,0,Cher
19,2000,10,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
20,2001,1,Tom Cruise,United States,Actor,0,Tom_Cruise
21,2001,2,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
22,2001,3,The Beatles,United Kingdom,Musicians,0,The_Beatles
23,2001,4,Britney Spears,United States,Musician,0,Britney_Spears
24,2001,5,Bruce Willis,United States,Actor,0,Bruce_Willis
25,2001,6,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
26,2001,7,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
27,2001,8,NSYNC,United States,Musicians,0,NSYNC
28,2001,9,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
29,2001,10,Mel Gibson,United States,Actor,0,Mel_Gibson
30,2002,1,Britney Spears,United States,Musicians,0,Britney_Spears
...,...,...,...,...,...,...,...
162,2015,1,"Floyd Mayweather, Jr.",United States,Sportsperson (Boxing),0,Floyd_Mayweather_Jr.
164,2015,3,Katy Perry,United States,Musician,0,Katy_Perry
165,2015,4,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
166,2015,5,Howard Stern,United States,Television Personality,0,Howard_Stern
167,2015,6,Garth Brooks,United States,Musician,0,Garth_Brooks
168,2015,7,James Patterson,United States,Author,0,James_Patterson
169,2015,8,"Robert Downey, Jr.",United States,Actor,0,Robert_Downey_Jr.
170,2015,8,Taylor Swift,United States,Musician,0,Taylor_Swift
172,2016,1,Taylor Swift,United States,Musician,0,Taylor_Swift
173,2016,2,One Direction,United Kingdom/Republic of Ireland,Musicians,0,One_Direction
174,2016,3,James Patterson,United States,Author,0,James_Patterson
176,2016,4,Dr. Phil McGraw,United States,Television Personality,0,Phil_McGraw
177,2016,6,Kevin Hart,United States,Actor,0,Kevin_Hart
178,2016,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
180,2016,9,Adele,United Kingdom,Musician,0,Adele
181,2016,10,Rush Limbaugh,United States,Radio Personality,0,Rush_Limbaugh
182,2017,1,Sean 'Diddy' Combs,United States,Musician,0,Sean_Combs
183,2017,2,Beyonce,United States,Musician,0,BeyoncÃ©
184,2017,3,J. K. Rowling,United Kingdom,Author,0,J._K._Rowling
188,2017,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
189,2017,8,Coldplay,United Kingdom,Musician,0,Coldplay
190,2017,9,James Patterson,United States,Author,0,James_Patterson
191,2017,10,LeBron James,United States,Sportsperson (Basketball),0,LeBron_James
192,2018,1,"Floyd Mayweather, Jr.",United States,Athlete (Boxing),0,Floyd_Mayweather_Jr.
193,2018,2,George Clooney,United States,Actor,0,George_Clooney
194,2018,3,Kylie Jenner,United States,Personality,0,Kylie_Jenner
195,2018,4,Judy Sheindlin,United States,Personality,0,Judy_Sheindlin
196,2018,5,Dwayne Johnson,United States,Actor,0,Dwayne_Johnson
198,2018,7,Coldplay,United Kingdom,Musicians,0,Coldplay
200,2018,9,Ed Sheeran,United Kingdom,Musician,0,Ed_Sheeran

In [90]:
df[(df["rank"]>=6) & (df["rank"] % 2 != 0)]

,year,rank,recipient,country,career,tied,title
6,1999,7,Harrison Ford,United States,Actor,0,Harrison_Ford
8,1999,9,Celine Dion,Canada,Musician,0,CÃ©line_Dion
16,2000,7,Tiger Woods,United States,Sportsperson (Golf),0,Tiger_Woods
18,2000,9,Cher,United States,Musician,0,Cher
26,2001,7,Backstreet Boys,United States,Musicians,0,Backstreet_Boys
28,2001,9,Oprah Winfrey,United States,Television Personality,0,Oprah_Winfrey
36,2002,7,Mariah Carey,United States,Musicians,0,Mariah_Carey
38,2002,9,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
47,2003,7,Ben Affleck,United States,Actor,0,Ben_Affleck
49,2003,9,Tom Hanks,United States,Actor,0,Tom_Hanks
57,2004,7,Michael Jordan,United States,Sportsperson (Basketball),0,Michael_Jordan
59,2004,9,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
67,2005,7,Johnny Depp,United States,Actor,0,Johnny_Depp
69,2005,9,Elton John,United Kingdom,Musician,0,Elton_John
77,2006,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
79,2006,9,Cast of The Sopranos,Various,Actors,0,The_Sopranos
87,2007,7,Elton John,United Kingdom,Musician,0,Elton_John
89,2007,9,Jay-Z,United States,Musician,0,Jay-Z
97,2008,7,Jay-Z,United States,Musician,0,Jay-Z
99,2008,9,J. K. Rowling,United Kingdom,Author,0,J._K._Rowling
108,2009,7,Steven Spielberg,United States,Filmmaker,0,Steven_Spielberg
110,2009,9,Brad Pitt,United States,Actor,0,Brad_Pitt
118,2010,7,U2,Republic of Ireland,Musicians,0,U2
120,2010,9,Johnny Depp,United States,Actor,0,Johnny_Depp
128,2011,7,Taylor Swift,United States,Musician,0,Taylor_Swift
130,2011,9,Simon Cowell,United Kingdom,Television Personality,0,Simon_Cowell
138,2012,7,Kim Kardashian,United States,Television Personality,0,Kim_Kardashian
140,2012,9,Tom Cruise,United States,Actor,0,Tom_Cruise
148,2013,7,Bon Jovi,United States,Musicians,0,Bon_Jovi
150,2013,9,Justin Bieber,Canada,Musician,0,Justin_Bieber
158,2014,7,"Floyd Mayweather, Jr.",United States,Sportsperson (Boxing),0,Floyd_Mayweather_Jr.
160,2014,9,Katy Perry,United States,Musician,0,Katy_Perry
168,2015,7,James Patterson,United States,Author,0,James_Patterson
178,2016,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
180,2016,9,Adele,United Kingdom,Musician,0,Adele
188,2017,7,Howard Stern,United States,Radio Personality,0,Howard_Stern
190,2017,9,James Patterson,United States,Author,0,James_Patterson
198,2018,7,Coldplay,United Kingdom,Musicians,0,Coldplay
200,2018,9,Ed Sheeran,United Kingdom,Musician,0,Ed_Sheeran

In [96]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [100]:
pd.Series(pd.unique(df["country"]))

0                          United States
1                         United Kingdom
2                                 Canada
3                    Republic of Ireland
4                                Various
5                               Barbados
6                            Switzerland
7                            Philippines
8     United Kingdom/Republic of Ireland
9                               Portugal
10                             Argentina
dtype: object

In [101]:
type(pd.unique(df["country"]))

numpy.ndarray